<!DOCTYPE html>
<html>
<head>
  <title>MyCart</title>
  <link rel="icon" type="image/png" href="http://telusers.com/image/2013/10/food-icon-png-5119-hd-wallpapers.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>

</body>
</html>
